.avatar {
    position: fixed;
    top: 20px; /* расстояние от верхнего края */
    right: 20px; /* расстояние от правого края */
    width: 60px; /* ширина круглого блока */
    height: 60px; /* высота круглого блока */
    border-radius: 50%; /* круглая форма */
    overflow: hidden; /* обрезаем содержимое, которое выходит за пределы круга */
    box-shadow: 0 2px 4px rgba(230, 5, 5, 0.2); /* тень блока */
  }
  
  .avatar img {
    width: 100%; /* аватарка займет всю ширину круга */
    height: auto; /* сохраняем пропорции изображения */
    display: block; /* чтобы изображение не смещалось */
  }
  